# Dependencies
node_modules/

# Environment
.env

# OS files
.DS_Store


# Uploads (important)
Backend/uploads/
Backend/script/


# Optional (if you don't want images tracked)
*.png
# Logs
Backend/logs/
*.log

# Logger file